.pinContainer
{
  background: #223B4B;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #2DFFFF;
  border-right: 1px solid #2DFFFF;
  text-align: center;
}

.insertPinMsg
{
  font-size: 2rem;
}

.loginButton
{
  margin-top: 10px;
}

.errorMsg
{
    font-size: 1.2rem;
    color: red;
    min-height: 40px;
}
